@import "_reset";
@import "_variables";
@import "_mixins";
@import "_fonts";
@import "_theme";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button {
  outline: none !important;
}

a {
  text-decoration: none;
}

body {
  font-family: 'SegoeUI';
  position: relative;
}

.hide {
  display: none !important;
}
.inactivepopup {
  opacity: .5;
}

//.popup {
//  display: none;
//}

.slide-wrap {
  @include rel();
  @include block(1024px, 768px);
  margin: 0 auto;
  overflow: hidden;
}

//background image for each slide
.slide-wrap {
  // bg
  @include bg-size($slide + '/bg.png', contain);
}

img {
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  height: 104px;
  display: flex;
  padding: 0 60px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  background: white;

  &__logo {
    width: 244px;
    margin-right: 20px;
  }

  &__tag {
    flex: 1;
    font-weight: bold;
    font-size: 44px;

    &--drink {
      color: #F8A896
    }
  }

  &__logo-stada {
    width: 108px;
  }
}

.footer {
  height: 62px;
  background: rgba(130, 136, 149, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__menu {
    width: 102px;
    padding: 22px 0 0 15px;
    height: 100%;
  }
}

.menu {
  position: absolute;
  min-width: 300px;
  background: rgba(130, 136, 149, 0.6);
  top: 363px;
  left: -300px;
  transform: none;
  transition: left 800ms;

  &.active {
    left: 15px;
    transition: left 800ms;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 12px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-image: url("../media/images/menu-border.png") 1 round round;
  }
}

.content__title--1 {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 50px;
}
