$slide: 'slide-02';
@import '_engine';
.#{$slide} {
	color: white;

	.content {
		width: 322px;
		position: absolute;
		top: 166px;
		right: 59px;
	}

	.list {
		margin-top: -5px;

		&__item {
			margin-bottom: 23px;

			&:last-child {
				margin-top: 39px;
			}
		}

		&__title {
			font-size: 20px;
		}
	}

	.quo {
		font-weight: bold;
		position: absolute;
		bottom: -85px;
		left: 65px;
		font-size: 20px;
	}

}
// animations
.#{$slide} {
	.animation {
		animation: opacity 400ms;
		animation-delay: 400ms;
		animation-fill-mode: forwards;
		opacity: 0;

		&--1 {
			animation-delay: 400ms;
		}

		&--2 {
			animation-delay: 600ms;
		}
	}

	@keyframes opacity {
		from {opacity: 0;}
		to {opacity: 1;}
	}


// inital state
	&.slide-active {
		// active state
	}
}
