$slide: 'slide-12';
@import '_engine';
.#{$slide} {
	.content {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.plashka {
		position: absolute;
		top: 340px;
		left: 50%;
		transform: translateX(-50%);
		width: 919px;
	}

	.pack {
		position: absolute;
		width: 312px;
		top: 59px;
    right: 40px;
	}
}
// animations
.#{$slide} {
	.animation {
		animation: opacity 800ms;
		animation-delay: 800ms;
		animation-fill-mode: forwards;
		opacity: 0;

		&--1 {
			animation-delay: 400ms;
		}

		&--2 {
			animation-delay: 800ms;
		}
	}

	@keyframes opacity {
		from {opacity: 0;}
		to {opacity: 1;}
	}


// inital state
	&.slide-active {
		// active state
	}
}
