$slide: 'slide-08';
@import '_engine';
.#{$slide} {
	.content {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.women {
		width: 766px;
		height: 502px;
		position: absolute;
		bottom: 105px;

		img {
			opacity: 0;
			transition: opacity 400ms;
			position: absolute;
			top: 0;
			left: 0;
		}

		.active {
			opacity: 1;
			transition: opacity 400ms;
		}
	}

	.animation {
		animation: opacity 400ms;
		animation-delay: 200ms;
		animation-fill-mode: forwards;
		opacity: 0;

		&--1 {
			animation-delay: 400ms;
		}

		&--2 {
			animation-delay: 600ms;
		}
	}
}
// animations
.#{$slide} {
	@keyframes opacity {
		from {opacity: 0;}
		to {opacity: 1;}
	}


// inital state
	&.slide-active {
		// active state
	}
}
